.header-bottom
  .menu
    -# = form_tag(tweets_searches_path,:method => 'get') do
    -#   = text_field_tag :search
    -#   = submit_tag 'Search', name: nil

  
  .login-menu
  - if user_signed_in?
    .login-menu-btn-left 
      = link_to "#{current_user.nickname}", "/users/#{current_user.id}",class: "post"
      = link_to "ログアウト",destroy_user_session_path, method: :delete,class: "post"
      = link_to "投稿する", '/tweets/new', class: "post"
      
  - else     
    .login-menu-btn-left
      = link_to "ログイン",new_user_session_path, class: "post"
    .login-menu-btn-right 
      = link_to "新規登録",new_user_registration_path, class: 'post'