.wrapper
  .header
    = render partial: 'header-top'
    = render partial: 'header-bottom'
  .top-page
    .main-photo
      最新写真

  .top-photos
    %h2 PHOTOS
    %ul.top-photos-nav
      %li.trend
        トレンド
      %li.select
        セレクト
      %li.new
        新着

  .photos-holder
    %ul.photo-holder
      - @tweets.each do |tweet|
        %li.image
          .image-holder{style: "background-image: url(#{tweet.image});"}
          -# = tweet.image
          %p.image-title
            = tweet.text  
          %p.image-name
            = tweet.name
        