.wrapper
  .header
    = render partial: 'header-top'
    .header-bottom
      %ul.menu
        %li 
          = link_to "投稿する", '/tweets/new'
      %input.search{name: "search", placeholder: "キーワードを入力", type: "search"}/
      %button.search-btn{title: '検索', type: 'submit'}
      %ul.login-menu
        %li.login-menu-btn-left
          = link_to "ログイン"
        %li.login-menu-btn-right 
          = link_to "新規登録"
  .top-page
    .main-photo
      最新写真

  .top-photos
    %h2 PHOTOS
    %ul.top-photos-nav
      %li.trend
        トレンド
      %li.select
        セレクト
      %li.new
        新着

  .photos-holder
    %ul.photo-holder
      - @tweets.each do |tweet|
        %li.image
          = tweet.image
          %p.image-title
            = tweet.text  
          %p.image-name
            = tweet.name
        