.wrapper
  .header
    = render partial: 'header-top'
    = render partial: 'header-bottom'
  .form
    = form_for @tweet do |f|
      = f.text_field :text, class: 'form__message', placeholder: 'タイトル'
      -# = f.text_field :address, class: 'form__message', placeholder: '撮影場所住所(任意)'
      -# = f.text_field :name, class: 'form__name', placeholder: 'ニックネーム'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          -# = fa_icon 'image', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
